node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local

logs
*.log
npm-debug.log*

coverage
playwright-report
test-results
lighthouse-reports
.lighthouseci
.tanstack

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/routeTree.gen.ts
public/mockServiceWorker.js
.vercel
.playwright-mcp
*.tsbuildinfo
